@import url('../../../../public/colors.css');

button{
    width: 100%;
    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: none;
    border-radius: 8px;
}

button img{
    transition: 200ms;
}

button:hover{
    cursor: pointer;
}
button:disabled{
    cursor: default;
    background-color: gray;
    color: darkgray;
}

.default{
    background-color: var(--color-white);
    color: #000000;
}

.accent{
    background-color: var(--color-dark);
    color: #fff;
}

.secondary{
    background-color: var(--color-accent);
    color: #fff;
}

.red{
    color: #fff;
    background-color: rgb(212, 66, 66);
    width: min-content;
    margin: 0px;
    margin-top: 8px;
    margin-bottom: -12px;
}