button{
    margin-bottom: 10px;
}

.dropdown-back{
    transition: 200ms;
}

.dropdown-back-open{
    max-height: fit-content;
    transition: 200ms;
}

.dropdown-back-closed{
    max-height: fit-content;
    height: 0;
    overflow: hidden;
    transition: 400ms;
}