h2{
    padding: 0;
    margin: 0;
}

.form{
    background-color: rgb(35, 46, 77);
    padding: 24px 18px;
    margin-bottom: 12px;
    border-radius: 8px;
}

input{
    width: calc(100% - 24px) ;
    padding: 0px 12px;
    margin: 0px;
    border: none;
    border-radius: 4px;
    font-size: 18px;

}