.canvas-main{
    width: calc(2480px / 4);
    height: calc(3508px / 4) ;
    
    aspect-ratio: 8 / 16;
    
    border: solid 1px rgb(47, 45, 45);
    background-color: aliceblue;

    margin-left: 24px;
}